* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: #fefefe;
}

/*boxes--flexcontainer*/
.box {
	width: 50px;
	height: 50px;
	margin: 10px;
	border-radius: 10px;
}

#color1 {
	background-color: #e2c2c6;
}
#color2 {
	background-color: #b9929f;
}
#color3 {
	background-color: #9c528b;
}
#color4 {
	background-color: #610f7f;
}
#color5 {
	background-color: #2f0147;
	flex-grow: 2;
}
#color6 {
	background-color: #02111b;
}
#color7 {
	background-color: #18206f;
}
#color8 {
	background-color: #1b264f;
}
#color9 {
	background-color: #274690;
}
#color10 {
	background-color: #c4bbaf;
}

.flex-container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
	margin: 30px;
}

/*text container*/

h1 {
	font-size: 4rem;
	font-weight: 200;
}

.container {
	display: flex;
	place-content: baseline center;
}
/*card container */

.card-container {
	display: flex;
	align-items: basleline;
	justify-content: center;
}
.cards1 {
	background-color: #ccfccb;
}
.cards2 {
	background-color: #96e6b3;
}
.cards3 {
	background-color: #568259;
}

#rectangle {
	width: 200px;
	height: 450px;
	border-radius: 10px;
	margin: 20px;
}
.bg-container {
	display: flex;
	place-content: baseline center;
}

.longcards {
	width: 31.25rem;
	height: 31.25rem;
	border-radius: 10px;
	margin: 10px;
}

#board1 {
	background-color: #f4a698;
}

#board2 {
	background-color: #f48668;
}
